<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head >
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <header th:insert="Blocks/header::header"></header>
    <style>
        body {
            background:#808080;

        }

    </style>
<body>
<h1 align="center">КОРЗИНА</h1>
</body>
</html>