
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head >
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


<body>
<header th:insert="Blocks/header::header"></header>

<div class="container mt-5">

    <div th:each="el:${Order}" class="alert alert-info mt-2">
        <h3 th:text="${el.name}"/>
        <p th:text="${el.andres}"/>
        <p th:text="${el.num}"/>
        <p th:text="${el.dat}"/>
        <p th:text="${el.full_text}"/>



    </div>
</div>


</body>
</html>


